<a href="https://colab.research.google.com/github/RadoslawJDA/100-Days-of-Code--The-Complete-Python-Pro-Bootcamp-for-2022/blob/main/youtube_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import requests
import time
import psycopg2 as ps

In [3]:
# Credentials for API calls

API_KEY = 'AIzaSyCdY6oRpKZkrQNcW28u0wCCM-HL24aVrpQ'
CHANNEL_ID = 'UCXGnHcSTY8AnqTZJqSfoRYg'

# Creating dataframe

- `df.head()`

> Functions

- `get_video_details(video_id)`

- `get_videos(df)`

## Get video details

In [4]:
def get_video_details(video_id):
    
   # API call
    url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
    response_video_stats =  requests.get(url_video_stats).json()

    view_count = response_video_stats['items'][0]['statistics']['viewCount']
    like_count = response_video_stats['items'][0]['statistics']['likeCount']
    comment_count = response_video_stats['items'][0]['statistics']['commentCount']

    return view_count, like_count, comment_count

## Get videos

In [5]:
def get_videos(df):

  # API call
  pageToken = ""
  url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken

  response =  requests.get(url).json()

  time.sleep(1)

  # loop through api call to get videos with information
  for video in response['items']:
    if video['id']['kind']== "youtube#video":
      video_id = video['id']['videoId']

      video_title = video['snippet']['title']

      upload_date = video['snippet']['publishedAt']
      upload_date = str(upload_date).split("T")[0]

      view_count, like_count, comment_count = get_video_details(video_id)

      #save data in pandas df
      df = df.append({'video_id': video_id,"video_title": video_title,
                      "upload_date": upload_date,"view_count": view_count,
                      "like_count": like_count,"comment_count": comment_count},ignore_index=True) 
  return df

In [6]:
# dataframe
df = pd.DataFrame(columns=("video_id","video_title","upload_date","view_count","like_count","comment_count"))
df = get_videos(df)

## Dataframe

In [30]:
df.head()

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,lNWI7pPsT8M,FORTNITE KAROL I FORTNITE RADEK ZNOWU ATAKUJĄ,2022-07-19,37,3,3
1,nQEupGLj_zA,WBITA PLATYNA ✅,2022-06-02,54,1,1
2,xrygKlrAeko,Multiversus Polska,2022-05-21,86,2,4
3,arEE409u5Qw,"REAKCJA NA BATELPAS nr.5 ft. aster, bo0, sselemoh",2022-01-24,153,11,8
4,3T35vZPepWA,Brawlhalla moments | Kroniki złotników,2021-12-17,103,5,4

# Connection to a database

- Credentials
- Connection request

> Functions

- `connect_to_db(host_name, dbname, port, username, password)`

## Connection request

In [8]:
# connection to a database

def connect_to_db(host_name, dbname, port, username, password):
  try:
    conn = ps.connect(host=host_name, database=dbname, user=username, password=password, port=port)
  except ps.OperationalError as e:
    raise e
  else:
    print('Connected!')
    return conn

## Credentials

In [9]:
#credentials  
host_name = 'radgrad-db.cjoqoko8q9hk.eu-central-1.rds.amazonaws.com'
dbname = 'rad_db'
port = '5432'
username = 'rad'
password = 'marchewa121'
conn = None

#conection
conn = connect_to_db(host_name, dbname, port, username, password)

Connected!

# Update database

*   Creating table
*   Chechking if video exists in db
*   Updating rows
*   Inserting data into table

> Functions

*   `append_from_df_to_db(curr,df)`
*   `create_table(curr)`
*   `check_if_video_exists(curr,video_id)`
*   `update_row(curr, video_id, video_title, view_count, like_count, comment_count)`
*   `update_db(curr,df)`
*   `insert_into_table(curr, video_id, video_title, upload_date, view_count, like_count, comment_count)`
*   `append_from_df_to_db(curr,df)`

## Create table

In [10]:
#create table
def create_table(curr):
  create_table_command = ("""CREATE TABLE IF NOT EXISTS videos (
                      video_id VARCHAR(255) PRIMARY KEY,
                      video_title TEXT NOT NULL,
                      upload_date DATE NOT NULL DEFAULT CURRENT_DATE,
                      view_count INTEGER NOT NULL,
                      like_count INTEGER NOT NULL,
                      comment_count INTEGER NOT NULL)
                    """)
  curr.execute(create_table_command)

## Check if video exists

In [11]:
#check if that video exists

def check_if_video_exists(curr,video_id):
  query = ("""SELECT video_id FROM VIDEOS WHERE video_id = %s""")

  curr.execute(query, (video_id,))
  return curr.fetchone() is not None

## Update row

In [12]:
#update row

def update_row(curr, video_id, video_title, view_count, like_count, comment_count):
  query = ("""UPDATE videos
            SET video_title = %s,
                view_count = %s,
                like_count = %s,
                comment_count = %s
            WHERE video_id = %s;""")
  
  vars_to_update = (video_title, view_count, like_count, comment_count, video_id)
  curr.execute(query, vars_to_update)

## Update db

In [13]:
def update_db(curr,df):

  tmp_df = pd.DataFrame(columns=['video_id', 'video_title', 'upload_date', 'view_count', 'like_count', 'comment_count'])

  for i, row in df.iterrows():
    if check_if_video_exists(curr, row['video_id']):
      update_row(curr, row['video_id'], row['video_title'], row['view_count'], row['like_count'], row['comment_count'])
    else:
      tmp_df = tmp_df.append(row)

  return tmp_df

## Insert into table

In [14]:
#insert command
def insert_into_table(curr, video_id, video_title, upload_date, view_count, like_count, comment_count):

  insert_into_videos = ("""INSERT INTO videos (video_id, video_title, upload_date, view_count, like_count, comment_count)
   VALUES(%s,%s,%s,%s,%s,%s);""")
  
  row_to_insert = (video_id, video_title, upload_date, view_count, like_count, comment_count)

  curr.execute(insert_into_videos, row_to_insert)

## Append dataframe to database

In [15]:
#append
def append_from_df_to_db(curr,df):

  for i, row in df.iterrows():
      insert_into_table(curr, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'],
                        row['comment_count'])

# Main

In [16]:
curr = conn.cursor()

In [17]:
create_table(curr)

In [18]:
new_vid_df = update_db(curr, df)

In [19]:
append_from_df_to_db(curr, new_vid_df)

In [20]:
conn.commit()